In [1]:
import os
import numpy as np
import pandas as pd
from pathlib import Path
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import numpy as np
import requests
%matplotlib inline

In [2]:
load_dotenv()

True

In [3]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")
#print(alpaca_api_key)

In [17]:
#15Min interval
timeframe = "1D"
start_date = pd.Timestamp("2020-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-12-31", tz="America/New_York").isoformat()
#today = pd.Timestamp("2021-01-02", tz="America/New_York").isoformat()
ticker = ["AAPL"]
apple_ticker = alpaca.get_barset(
    ticker,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df
apple_ticker.dropna(inplace=True)
apple_ticker.head(20)

                             AAPL
                             open      high       low     close    volume
time
2020-01-02 00:00:00-05:00  296.24  300.6000  295.1900  300.5800  30589026
2020-01-03 00:00:00-05:00  297.15  300.5800  296.5000  297.3800  31609363
2020-01-06 00:00:00-05:00  293.79  299.9600  292.7500  299.7800  27487207
2020-01-07 00:00:00-05:00  299.84  300.9000  297.4800  298.2700  24353387
2020-01-08 00:00:00-05:00  297.16  304.4399  297.1560  303.1500  28984028
2020-01-09 00:00:00-05:00  307.25  310.4300  306.2000  309.7100  38540792
2020-01-10 00:00:00-05:00  310.60  312.6700  308.2500  310.3700  32304453
2020-01-13 00:00:00-05:00  311.66  317.0700  311.1500  316.9700  27840727
2020-01-14 00:00:00-05:00  316.70  317.5700  312.1700  312.6900  37279469
2020-01-15 00:00:00-05:00  311.85  315.5000  309.5500  311.5000  27936506
2020-01-16 00:00:00-05:00  313.59  315.7000  312.0900  315.3300  24013095
2020-01-17 00:00:00-05:00  316.27  318.7400  315.0000  318.6700  30627564
2020-01-21 00:00:00-05:00  317.19  319.0200  316.0000  316.5500  44685529
2020-01-22 00:00:00-05:00  318.75  319.9900  317.3100  317.7000  44852758
2020-01-23 00:00:00-05:00  317.86  319.5600  315.6500  319.2899  41293070
2020-01-24 00:00:00-05:00  320.25  323.3300  317.5188  318.3300  67508467
2020-01-27 00:00:00-05:00  310.06  311.7700  304.8800  308.9600  35383266
2020-01-28 00:00:00-05:00  312.60  318.4000  312.1900  317.7600  30754951
2020-01-29 00:00:00-05:00  324.45  327.8500  321.3800  324.3200  49204103
2020-01-30 00:00:00-05:00  320.65  324.0900  318.7500  323.8762  29239643

In [41]:
apple_df = pd.DataFrame()
apple_df["Apple"] = apple_ticker["AAPL"]["close"]
apple_df.index = apple_df.index.date 
apple_df["returns"] = apple_df.pct_change()*100
apple_df = apple_df.replace(-np.inf, np.nan).dropna()
apple_df["lagged"] = apple_df["returns"].shift()
apple_df.dropna(inplace=True)
apple_df.tail()

             Apple   returns    lagged
2021-06-28  134.75  1.232064 -0.217391
2021-06-29  136.33  1.172542  1.232064
2021-06-30  136.94  0.447444  1.172542
2021-07-01  137.27  0.240981  0.447444
2021-07-02  139.96  1.959642  0.240981

In [42]:
apple_df.rename_axis(index=None)
#apple_df["Date"] = apple_df["index"]
#apple_df["index"].head()
#apple_df.to_csv("test3.csv")
apple_df

             Apple   returns    lagged
2020-01-06  299.78  0.807048 -1.064608
2020-01-07  298.27 -0.503703  0.807048
2020-01-08  303.15  1.636102 -0.503703
2020-01-09  309.71  2.163945  1.636102
2020-01-10  310.37  0.213103  2.163945
...            ...       ...       ...
2021-06-28  134.75  1.232064 -0.217391
2021-06-29  136.33  1.172542  1.232064
2021-06-30  136.94  0.447444  1.172542
2021-07-01  137.27  0.240981  0.447444
2021-07-02  139.96  1.959642  0.240981

[377 rows x 3 columns]

In [22]:
X_train = train["lagged"].to_frame()
X_test = test["lagged"].to_frame()
y_train = train["returns"]
y_test = test["returns"]

NameError: name 'train' is not defined